# Big Data Management Workshop II
## Team A - Analysis of current cenergy consumption and production as well as future predictions


### Preparation
#### Import libraries

In [2]:
from tabulate import tabulate
import pandas as pd
import numpy as np

#### Import the dataset World Energy Consumption
To work with the data we import it from the csv file into a pandas dataframe object

In [3]:
df = pd.read_csv("WorldEnergyConsumption.csv",sep=",")

#### Overview of data
To work with the data, we take a look at the columns and general shape of the data.

In [9]:
column_list = list(df.columns)
print('Header names of the data set columns': )
for val in column_list:
    print(val + '/n')

NameError: name 'tabulate' is not defined